html
    body
        style(type='text/css').
           .header--leonardo {
                color: blue;
            }
            .header--donatello {
                color: purple;
            }
        div#the-mount
            != app

        script(src='/public/bundle.js')
